.Carrusel {
  height: 550px;
  object-fit: cover;
  margin: auto;
  z-index: -10000;
}


.img{
    height: 100%;
    object-fit: cover;
}

.thumbs {
  display: none;
}

.carousel-status {
  display: none;
}
