@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    place-items: center; 
    margin: 50px 50px 50px 50px;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: auto;
    }

    .flex {
        width: 300px;
    }

    .descripcion {
        font-size: 14px;
    }
}



.flex{
    display: flex;
    transition: 0.5s all ease;
}

.container {
    height: 570px;
    background: #ECECEC;
    border-radius: 4px;
    /* -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75); */
    font-family: 'Roboto', sans-serif;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    border: 1px solid #000; 
}



.imagen {
    object-fit: cover;
    height: 470px;
    width: 500px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    
}

.descripcion{
    color: #737373;
    padding-bottom: 5px;
    font-weight: 300;
}

.BT{
    display: flex;
    justify-content: space-between;
}

.precio{
    font-size: 25px;
    text-align: left;
    font-weight: 500;
}

.button {
    background-color: #0e1a24;
    border-radius: 2px;
    margin: 7px 0 0 0;
    padding: 5px;
    color: #fff;
    font-weight: 900;
}

.arrow-button{
    color: #000;
    border: 2px solid #000;
}