.navbar{
    display: flex;
    background-color: #F5F5F5;
    padding: 15px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

li{
    display: inline-flex;
    margin: 5px 10px 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    font-weight: 800;
}

li:hover {
    cursor: pointer;
    color: #3e74f3;
    transition: 0.5s;
    
}

.fa-bag-shopping {
    font-size: 25px;
    cursor: pointer;
}

.hidden-cart {
    position: fixed;
    z-index: 10000;
    width: 300px;
    height: 300px;
    background: #fff;
    border: 1px solid #000;
    right: 0;
    top: 50px;
    transition: 0.3s;
}

.active {
    right: 0;
}